body{
	background-color : lightgreen;
}
h1{
	color : black;
    text-align : center;
    font-family : times;
    font-size : 3em;
	text-decoration-line: underline;
    text-decoration-style : double;
}
.button{
	padding : 7px 15px;
    font-size : 1.5em;
    color : white;
    background-color : hsl(578,100%,75%);
    border-radius : 15px;
    cursor : pointer;
    transition : background-color 0.25s;
}
.button:hover{
	background-color : hsl(214, 70%, 55%)
}
div{
	text-align : center;
}