body{
    background-color: aquamarine;
}
.container {
  position: relative;
  font-family: Arial;
  width : 100%;
  max-width: 800px;
  margin: 0 auto;
}
.container img{
    width: 100%;
    height: auto;
    display: block;
}
.text-block {
  position: absolute;
  bottom: 60%;
  right: 25%;
  width:40%;
  background-color: rgba(0, 0, 0, 0.856);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
